.header {  
    display: grid;
    scroll-behavior: none;
    grid-template-columns: 13% 5% 65% 17%;
    grid-template-rows: 77px;
    background-color: black;
}

.header .logo_header {
    grid-column: 1;
}

.logo_header button {
    width: 100%;
    border: 0;
    padding: 0;
}

.header .logo_header button img{
    width: 100%;
    height: 77px;
}

.header .desno_header {
    grid-column: 4;
    display: flex;
    margin-left: 0;
}

.header .desno_header button {
    width: 20%;
    border: 0;
    background: black;
    margin-left: 3%;
}

.header .desno_header button img{
    width: 130%;
    border: 1px solid #71cbc9;
    border-radius: 50%;
}

.NB_css {
    z-index: 1000;
}

.NB_css ul {
    grid-column: 3;
    margin: 0;
    padding: 0;
    list-style: none;
}

.NB_css ul li {
    float: left;
    width: 16.666%;
}

.NB_css ul li a{
    text-align: center;
    display: block;
    text-decoration: none;
    width: 100%;
    color: #71cbc9;
    text-transform: uppercase;
    padding-top: 25px;
    height: 77px;
}

.NB_css ul li a:hover{
    background-color: rgb(50, 50, 50);
    color: white;
}

.NB_css ul li ul li{
    display: none;
    width: 100%;
    background-color: black;
}

.NB_css ul li:hover ul li{
    display: block;
}

.NB_response {
    position: absolute;
    background: black;
    width: 100%;
    z-index: 3000;
    height: 700px;
    display: none;
    opacity: 0.92;
    margin-top: -77px;
}

.NB_response ul {
    display: flex;
    list-style: none;
    margin-top: 80px;
}

.NB_response ul li {
    width: 16.666%;
    border-right: 1px solid white;
}

.NB_response ul li a {
    font-size: 22px;
    color: #71cbc9;
    text-transform: uppercase;
    text-decoration: none;
}

.NB_response ul li ul {
    display: block;
    margin-top: 12px;
}

.NB_response ul li ul li {
    display: block;
    border: none;
    width: 100%;
}

.NB_response ul li ul li a {
    font-size: 16px;
    color: white;
}

.header .tri_crte{
    grid-column: 2;
}

.header .tri_crte .checkbtn {
    cursor: pointer;
    margin-top: 22px;
}

.header .tri_crte:hover {
    background: rgb(50, 50, 50);
}

.header .tri_crte .img_bars {
    width: 40%;
}

.header .tri_crte #check {
    display: none;
}

@media (max-width: 850px){    

    .header {
        grid-template-columns: none;
    }

    .header .logo_header {
        width: 60%;
    }

    .header .tri_crte {
        display: block;
    }

    .header .tri_crte .checkbtn {
        float: right;
        width: 120px;
        margin-top: 15px;
    }

    .header .desno_header {
        display: none;
    }

    .NB_css {
        display: none;
    }

    .header .tri_crte #check:checked ~ .NB_response {
        display: block;
    }

    /* .NB_css #check:checked ~ ul li ul{
        left: 7%;
        top: 150px
    } */

    .NB_response {
        opacity: 1;
    }

    .NB_response ul {
        display: block;
        margin-left: 5%;
        margin-top: 20px;
    }

    .NB_response ul li {
        border: none;
    }

    .NB_response ul li a{
        font-size: 12px;
    }

    /* .NB_response ul li {
        display: flex;
    } */

    .NB_response ul li ul {
        margin: 10px 0 10px 15%;
        border-left: 2px solid #71cbc9;
        border-radius: 20%;
        text-align: left;
    }

    .NB_response ul li ul li {
        width: 160px;
    }

    .NB_response ul li ul li a {
        font-size: 12px;
        margin-left: 10px;
    }
}